<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="methods" thread-count="5">
     <listeners>     
        <listener class-name="interface_login.RetryListener" />  
        <listener class-name="interface_login.TestListener" /> 
    </listeners>
  <test name="Test">
    <classes>
      <class name="inter.net.group.login_test" >
      
          <methods>  
             <include name="Login" />  
             <include name="xxx" />  
             <include name="xxxx" />  
          </methods>
      </class>
    </classes>
  </test> <!-- Test -->
   <test name="Test1">
    <classes>
      <class name="inter.net.group.AcquireGet"/>   
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
